body{
  background: #fff;
  font-family: 'Ubuntu', sans-serif;
  margin: 0px;
  padding: 0px;
}
.contenedor{
  width: 95%;
  max-width: 1300px;
  margin: auto;

}
header {
  height: 100vh;
  background:linear-gradient(rgba(33,23,23,.6),rgba(255, 215, 0,1)), url('IMAGENES/PUBLICIDAD LOGO MARKETING DESARROLLO WEB SISTEMAS COMPUTACIONALES DISEÑO GRAFICO 1.jpg') left no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#contenedor-menu a{
  color: #fff;
}
#contenedor-menu {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  font-size: 18px;
}
header .logo{
  color:  #FFD700;
  font-size: 34px;
  font-family: 'Ubuntu', sans-serif;
}
nav ul {
  display: flex;
  justify-content: space-between;
  margin: 42px;
}
nav ul li {
  margin-right: 35px;
  list-style: none;
  color: #fff;
}

.contenedor-titulo{
  display: flex;
  justify-content: center;
  margin: -1vh 0;
}

.contenedor-titulo h2{
  font-weight: bold;
  font-size: 44px;
  color: #211717;
  text-align: center;
  margin: 1.5vh 0;
}
.contenedor-titulo h3{
  font-size: 24px;
  color: #fff;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  margin: 2vh 0;
}
.contenedor-titulo a {
  width: 190px;
  display: inline-block;
  background: #211717;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  color: #FFD700;
  padding: 9px 15px;
  border-radius: 5px;
  margin: 0.5vh 0;
}
.contenedor-titulo {

  text-align: center;
}
#about{
  margin: -10Vh 0;
  padding: 100px 0;
}
#about .contenido {
  text-align: center;
  justify-content: center;

}
#about .about-text {
  text-align: justify;
  margin: 0vh 0;
  font-size: 27px;
  color: #211717;
  align: center;
}
  #about a {
  display: inline-block;
  background: #211717;
  font-size: 17px;
  font-family: 'Ubuntu', sans-serif;
  color: #FFD700;
  padding: 9px 15px;
  border-radius: 5px;
}
  #about img {
  margin: 5vH 40px;
 }
  #about h4 {
   text-align: center;
   font-size: 50px;
   font-family: 'Ubuntu', sans-serif;
   color: #211717;
   margin: 0vH 0;
 }
 /SECCION SERVICIOS/
 #servicios{
   margin: -40Vh 0;
 }
 #servicios h6 {
  text-align: center;
  font-size: 50px;
  font-family: 'Ubuntu', sans-serif;
  color: #211717;
  margin: 20vH 0;
  padding: 100px 0;
}
 .contenedor-servicios{
   display: flex;
   flex-wrap: wrap;
   margin: -30vH 0;
   justify-content: space-around;
 }
 .servicio{
   height: 360px;
   width: 25%;
   padding: 34px 30px 38px 30px;
   border-radius: 17px;
   margin-bottom: 40px;
   position: relative;
 }
 .servicio h5{
   font-family: 'Ubuntu', sans-serif;
   color: #FFD700;
   font-size: 25px;
   margin: 0px;
   text-align: center;
}
.servicio p{
  text-align: justify;
  margin-bottom: 140px;
  height: 120px;
  color: #fff;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
}
.contenedor-servicios .cafe {
  background: #211717;
  box-shadow: 0 10px 20px 0 rgba(130,163,220, .8);
}
/Seccion mis trabajos/
#efectuados h7 {
 justify-content: center;
 padding: 112px 0;
 display: flex;
 margin: 30vH 0;
 margin-bottom: -50px;
 font-size: 47px;
 font-family: 'Ubuntu', sans-serif;
 color: #211717;

}
button.owl-next, button.owl-prev{
    font-size: 60px !important;


}
span {
    color: #211717;

}
#efectuados p{
  text-align: center;
  color: #211717;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}
